body{
    background-color: 98acf8;
    text-align: center;
   margin: 0;
}

form{
    font-family: 'Courier New', Courier, monospace;

}
h1{
    font-family: 'Courier New', Courier, monospace;
}
.atas{
 background-color:#153e90 ;
 height: 5%;
}
